@charset "UTF-8";

.oneline{ /* 제일위에 한줄평 */
	border-bottom: solid 1px gray;
	margin-bottom:20px;
	width:1000px;
}


.DetailBoard{/* 취향분석별 상자css */
	display: flex;
	width:100%;
	height:250px;
	margin-left:10%;
}
.divideBoard{  /* 각 취향분석상자 안에 구역나누기  */
	text-align: justify;
	width:50%;
	height:100%;
	text-align: center;
	margin-top:20px;
	padding-right:20%;
}

.ranking{ /* 순위매기는 div */
	width:30%;
	height:100%;
	float:left;
	margin: 20px;
}
.ranking p{ /* p태그도 웹툰 제목들이랑 크기 맞추려고 넣음 */
	width:120px;
	height:30px;
	margin:20px;
}

.rankingTitle{ /* 높게 평한 웹툰 이름 */
	justify-content: space-between;
	text-align: center;
	width:120px;
	height:30px;
	margin:20px;
}

.webtoonCount{ /* 카운트하거나 좋아하는태그,그림체의 크기 및 위치설정 */
	margin-top:70px;
	font-size:50px;
}

.session h3{ /* 각 div 제목 설정  */
	margin-left:10%;
}




