@charset "UTF-8";

.oneline{ /* 제일위에 한줄평 */
	border-bottom: solid 1px gray;
	margin-bottom:20px;
	width:1000px;
}


.DetailBoard{
	display: flex;
	width:100%;
	height:250px;
	margin-left:10%;
}

.ranking{ /* 높게평가한 웹툰 순위 */
	width:30%;
	height:100%;
	float:left
}
.rankingTitle{ /* 높게 평한 웹툰 이름 */
	justify-content: space-between;
	text-align: center;
	width:120px;
	height:30px;
	margin:10px;
	margin-top:10px;
}

.rankingGenre{
	width:20%;
	height:30px;
}

.firstbox{
	height:300px;
}

.divideBoard{
	text-align: justify;
	width:50%;
	height:100%;
	text-align: center;
	margin-top:20px;
	padding-right:20%;
}

.webtoonCount{
	margin-top:70px;
	font-size:50px;
}




