@charset "UTF-8";


div.minimalistBlack {
  border: 1px solid #000000;
  width: 1000px;
  text-align: left;
  border-collapse: collapse;
  margin-top:10%;
  margin-left:15%;
}
.divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
  border: 1px solid #000000;
  padding: 5px 4px;
}

divta
.divTable.minimalistBlack .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.minimalistBlack .divTableHeading {
  border-bottom: 1px solid #000000;
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
.minimalistBlack .tableFootStyle {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 1px solid #000000;
}
.minimalistBlack  {
  font-size: 14px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}



.searchBoard{
	width:1000px;
	margin-left:15%;
	margin-top:40px;
}




.searchCard img{

	width:200px;
	height:250px;
}

tr{
	display:flex;
	flex-direction: column;
	width:1000px;
	height:200px;
	
}

table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.image{
	width:200px;
	background-color: white;
	padding: 20px;
	background-image:url("../images/doctor.jpg");
	background-repeat: no-repeat;
	background-size:200px,180px;
	height:200px;
	display:block;
	position:relative;
	margin: auto;
	display:flex;
	
}

.searchPop{
	float:right;
}


/* 검색결과 */
.webtoonName{
	padding:15px;
}
.detail{
	position:relative;
	text-align:center;
	display:flex;
}

.leftblock{
  flex: 1;
}
.middleblock{
  flex: 3;
  text-align: center;
  padding:40px;
  display:flex;
  flex-direction: column;
}
.rightblock{
  flex: 1;
  text-align: right;
  display:flex; 
}

.platformDetail{
	text-align: left;
	margin-bottom: 10px;
}

.webtoonDetail{
	text-align: left;
	margin-bottom: 10px;
}

.genruDetail{
	text-align: left;
	margin-bottom: 10px;
}

.authorDetail{
	text-align: left;
	margin-bottom: 10px;
}


.webtoonDetail{
	text-align: left;
	margin-bottom: 10px;
}


.star{
	margin:auto;
}












