<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="com.spring.mapper.ArtworkMapper"> <!-- 인터페이스 만든위치를 똑같이 지정해줘야함 -->
   
   <select id="getArtwork">
   		SELECT * FROM v_art_info_tag 
   		WHERE seqno = #{ano}
   </select>
   
   </mapper>