<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace ="com.achu.mapper.SearchMapper">
	<resultMap id="SearchMap" type="Artwork">
	</resultMap>
	<select  id ="searchResult" resultType="Artwork">
		SELECT distinct name ,seqno,author, admit,platform,rest,week,detail,url,avg_rating,image_route,cnt 
		FROM v_art_info_tag
		WHERE name LIKE  '%'||#{name, jdbcType=VARCHAR}||'%'
        
		
	</select>
	<select id="getSearchList" resultType="Artwork">
		SELECT * FROM v_art_info
	</select>
</mapper>