@charset "UTF-8";

/* 이게...몰까? */
/* :root { -
	-blue: #007bff; -
	-indigo: #6610f2; -
	-purple: #6f42c1; -
	-pink: #e83e8c; -
	-red: #dc3545; -
	-orange: #fd7e14; -
	-yellow: #ffc107; -
	-green: #28a745; -
	-teal: #20c997; -
	-cyan: #17a2b8; -
	-white: #fff; -
	-gray: #6c757d; -
	-gray-dark: #343a40; -
	-primary: #007bff; -
	-secondary: #6c757d; -
	-success: #28a745; -
	-info: #17a2b8; -
	-warning: #ffc107; -
	-danger: #dc3545; -
	-light: #f8f9fa; -
	-dark: #343a40; -
	-breakpoint-xs: 0; -
	-breakpoint-sm: 576px; -
	-breakpoint-md: 768px; -
	-breakpoint-lg: 992px; -
	-breakpoint-xl: 1200px; -
	-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji"; -
	-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
} */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	color: #73879C;
	background: #2A3F54;
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.471;
	margin: 0;
	text-align: left;
	background-color: #fff;}

a {
	color: #5A738E;
	text-decoration: none;
	background-color: transparent;
}

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus,
	.btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: 0;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

img {
	vertical-align: middle;
	border-style: none;
}

h2 {
	display: block;
	font-size: 1.5em; font-size : 18px; 
	font-weight : 400;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	font-size: 18px;
	font-weight: 400;
}

.h2, h2 {
	font-size: 2rem;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.h3, h3 {
	font-size: 1.75rem;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

li {
	display: list-item;
}

dl, ol, ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}

.container {
	width: 100%;
	padding: 0;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/* 이것은 무언가 잘못되어 있다.
 @media ( min-width : 992px) {
	.container {
		max-width: 960px;
	}
}

@media ( min-width : 768px) {
	.container {
		max-width: 720px;
	}
}

@media ( min-width : 576px) {
	.container {
		max-width: 540px;
	}
} */

.clearfix:after, form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.img-circle {
	border-radius: 50%;
}
.pull-right {
    float: right;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.dropdown-menu a {
    cursor: pointer;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}

.dropdown-item {
    width: 100%;
    padding: 12px 20px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav>li {
	position: relative;
	display: block;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 13px 15px 12px;
}

.navbar-right {
    margin-right: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

/* nav-md는 사이드바 default 상태 */
/* 사이드 바 지역 크기와 위치 */
@media ( max-width : 991px) {
	.nav-md .container.body .right_col, .nav-md .container.body .top_nav {
		width: 100%;
		margin: 0;
	}
}

.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
}

body .container.body .right_col {
    background: #F7F7F7;
}

.nav-md .container.body .col-md-3.left_col {
	min-height: 100%;
	width: 230px;
	padding: 0;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 1;
}

.nav-md ul.nav.child_menu li:before {
	background: #425668;
	bottom: auto;
	content: "";
	height: 8px;
	left: 23px;
	margin-top: 15px;
	position: absolute;
	right: auto;
	width: 8px;
	z-index: 1;
	border-radius: 50%;
}

.nav-md ul.nav.child_menu li:after {
	border-left: 1px solid #425668;
	bottom: 0;
	content: "";
	left: 27px;
	position: absolute;
	top: 0;
}
@media(min-width:1000px){
	.col-md-2 {
		-ms-flex: 0 0 16.66666%;
		flex: 0 0 16.66666%;
		max-width: 16.66666%;
	}}

@media ( max-width : 999px) {
	.col-sm-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}

@media ( min-width : 768px) {
	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}

@media ( max-width : 768px) {
	.col-md-2 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5,
	.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1,
	.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
	.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
	.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
	.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
	.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1,
	.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
	.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-md-55, .col-xs-12, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
	.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
	.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5,
	.col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6,
	.col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8,
	.col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
	.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
	.col-sm-11, .col-md-11, .col-lg-11, .col-sm-12, .col-md-12, .col-lg-12
	{
	position: relative;
	min-height: 1px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.green {
    color: #1ABB9C;
}

.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff;
}

/* fontawesome을 쓰려고 발악했던 흔적.. 
	슈바... 원인을 찾음... *에다가 display:block줘서
	head 내용이 출력됏엇음 (험한욕)*/
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* glyphicon도 못쓰것다 어카냐... */
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}