@charset "UTF-8";

.tag_table, .tag_modify{
	font-size:15px;
}

.tag_top, .tag_mid, .drag-container{
	display: inline-block;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size:15px;
}

.tag{
	color: #0067a3;
	text-decoration:none;
	margin-right:5px;
	display:inline-block;
}

.tag:before{
	content:"#";
}

.tag_modifyForm{
	display:flex;
}